{% block stylesheets %}
    <link href="{{ asset('bundles/topxiaweb/css/page/style1.css') }}" rel="stylesheet"/>
{% endblock %}



{# logo 头部 #}
<div class="bann_logo_box clearfix">
    <a href="#" title="翰墨教师" target="_blank" class="logo_pic">
        <img src="/bundles/topxiaweb/img/page/logo.jpg" alt="翰墨教师" title="翰墨教师" width=320px>
    </a>
    {# <h1 class="logo_right_text">|<span>教师资格</span></h1> #}
    <div class="module_five">
		<nav class="navbar navbar-default" role="navigation" style="z-index:0">
   
        <ul class="nav navbar-nav">
           <li><a href="/course/explore">课程</a></li>
           <li><a href="/testpaper/explore">题库</a></li>
           <li><a href="/article">资讯</a></li>
		   <li><a href="/article/category/jszhaopin">教师招聘</a></li>
		   <li><a href="/article/category/kaoshigonggao">考试公告</a></li>
        </ul>
    </div>
    </div>
</nav>
	</div>
	
	
</ul> 

	
</div>


{# 绿色导航栏 #}
<div class="nav_box">
    <ul class="nav2 nav_jszg">
        <li class="nav_first">
            <h3>动态</h3>
            <ul calss="ul_first" style="padding-top: 14px;">
                <li><a href="/article/category/baokaotiaojian" target="_blank" title="报名条件">报名条件</a>
                </li>
                <li><a href="/article/51" target="_blank" title="考试时间">考试时间</a>
                </li>
                <li><a href="/article/category/pthkaoshi" target="_blank" title="普通话">普通话</a>
				</li>
                <li><a href="/article/52" target="_blank" title="报考指南">报考指南</a>
                </li>
                <li><a href="/article/category/jszhaopin" target="_blank" title="教师招聘">教师招聘</a>
                </li>
                <li><a href="/article/category/kaoshigonggao" target="_blank" title="考试公告">考试公告</a>
                </li>
            </ul>
        </li>
        <li class="nav_first">
            <h3>备考</h3>
            <ul calss="ul_first" style="padding-top: 14px;">
                <li><a href="/course/explore" target="_blank" title="在线课程">在线课程</a>
                </li>
                <li><a href="/article/category/bsjiqiao" target="_blank" title="笔试技巧">笔试技巧</a>
                </li>
                <li><a href="/article/category/msjiqiao" target="_blank" title="面试技巧">面试技巧</a>
				</li>
                <li><a href="/testpaper/explore" target="_blank" title="在线题库">在线题库</a>
                </li>
                <li><a href="/testpaper/explore/testjsz?TestType=1" target="_blank" title="模拟试题">模拟试题</a>
                </li>
                <li><a href="/testpaper/explore/testjsz?TestType=2" target="_blank" title="考试真题">考试真题</a>
                </li>
            </ul>
        </li>
        <li class="nav_first">
            <h3>层次</h3>
            <ul calss="ul_first" style="padding-top: 14px;">
                <li><a href="/article/category/xiaoxue" target="_blank" title="小学">小学</a>
                </li>
                <li><a href="/article/category/zhongxue" target="_blank" title="中学">中学</a>
                </li>
                <li><a href="/article/category/zhongzhi" target="_blank" title="中职">中职</a>
				</li>
                <li><a href="/article/category/youer" target="_blank" title="幼儿园">幼儿园</a>
                </li>
                <li><a href="/article/category/mingshi" target="_blank" title="名师风采">名师风采</a>
                </li>
                <li><a href="/article/category/jiaocai" target="_blank" title="辅导资料">辅导资料</a>
                </li>
            </ul>
        </li>
    </ul>
</div>


{# 学习工具 #}
<div class="jszp_main_box">
    <div class="jszp_main_left">
        <h2>学习工具</h2>
        <div class="jszp_right_guide">
            <a class="guide_01" href="/course/explore" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/xuanke.png">选课中心</div>
            </a>
            <a class="guide_02" href="http://www.zgjsks.com/html/jszg/kaoshizixun/tiaojian/" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/xuexi.png">学习中心</div>
            </a>
            <a class="guide_03" href="/article/category/jiaocai" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/ziliao.png">辅导资料</div>
            </a>
            <a class="guide_04" href="/article" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zixun.png">资讯热点</div>
            </a>
            <a class="guide_05" href="/article/category/kaoshigonggao" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/gonggao.png">考试公告</div>
            </a>
            <a class="guide_06" href="/article/category/jszhaopin" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zhaopin.png">教师招聘</div>
            </a>
            <a class="guide_07" href="/testpaper/explore" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/tiku.png">在线题库</div>
            </a>
            <a class="guide_08" href="/testpaper/explore/testjsz?TestType=1" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/moni.png">模拟考试</div>
            </a>
            <a class="guide_09" href="/testpaper/explore/testjsz?TestType=2" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zhenti.png">历年真题</div>
            </a>

        </div>
    </div>

    <div class="jszp_main_central">
        <h2>好课推荐</h2>
				<div class="jszp_right_guide">
						<div id="frame" >
			<div id="photos" class="play">
				{% set course = data('LatestCourseSets',{count: 4, type: 'latest', categoryCode: '', notFree: 0}) %}  {# 考试公告 #}
				{% for  course in course %}
					{{ lazy_img(filepath(course_set_cover(course, 'large'), 'course.png'), 'img-responsive', course.title) }}
				{% endfor %}
					
				<ul id="dis">
					{% for  course in course %}
					<li>{{ course.title }}</li>
				{% endfor %}

				</ul>
			</div>
		</div>
       
		</div>
	</div>

    

    <div class="jszp_main_right">
        <div>
            <h2 style="float:left;">在线刷题 </h2>
            <div class="shuati_a">
                <a href="testpaper/explore/testjsz?TestType=1">在线模拟</a><a>丨</a>
                <a href="testpaper/explore/testjsz?TestType=2">历年真题</a>
            </div>
        </div>

        <ul class="hot_course_box01 clearfix">
            {% for key, testInfo in testInfo %}
                <li><em {% if key>2 %} class="green" {% endif %} >{% if key>2 %} 荐 {% else %} 热  {% endif %}</em>
                    <p><a href="{{ path('test_do', {testId:testInfo.id}) }}" target="_blank">{{ testInfo.name }}</a></p>
                    <span><a href="{{ path('test_do', {testId:testInfo.id}) }}" target="_blank">开始刷题</a></span></li>
            {% endfor %}
        </ul>
    </div>
</div>


{# 广告图 #}
<div class="jszp_banner_box">
    <a href="#" target="_blank"><img
                src="/bundles/topxiaweb/img/page/banner1.jpg"></a>
</div>


{# 教师资格证考试 #}
<div class="jszp_zixun_box">
    <h2><a href="{{ path('article_show') }}" target="_blank">教师资格证考试</a></h2>
    <div class="jszp_gonggao_box clearfix">
        {% set kaoshigonggao = data('ArticleCategory',{code: 'kaoshigonggao'}) %}  {# 考试公告 #}
        <h4><a href="{{ path('article_category', {categoryCode:kaoshigonggao.code}) }}"
               target="_blank">{{ kaoshigonggao.name|trans }}<a/></h4>
        <ul class="jszp_gonggao_li">
            {% set kaoshigonggaoList = data('LatestArticles',{count: 6, type: '', categoryId:8}) %}
            {% for kaoshigonggaoList in kaoshigonggaoList %}
                <li><p><a href="{{ path('article_detail', {id:kaoshigonggaoList.id}) }}" target="_blank"
                          title="{{ kaoshigonggaoList.title }}">{{ kaoshigonggaoList.title|slice(0,21) }}{% if kaoshigonggaoList.title|length >21 %}...{% endif %}</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="jszp_gonggao_box">
        {% set baokaotiaojian = data('ArticleCategory',{code: 'baokaotiaojian'}) %}  {# 报考条件 #}
        <h4><a href="{{ path('article_category', {categoryCode:baokaotiaojian.code}) }}"
               target="_blank">{{ baokaotiaojian.name|trans }}<a/></h4>
        <ul class="jszp_gonggao_li">
            {% set baokaotiaojianList = data('LatestArticles',{count: 6, type: '', categoryId:9}) %}
            {% for baokaotiaojianList in baokaotiaojianList %}
                <li><p><a href="{{ path('article_detail', {id:baokaotiaojianList.id}) }}" target="_blank"
                          title="{{ baokaotiaojianList.title }}">{{ baokaotiaojianList.title|slice(0,21) }}{% if baokaotiaojianList.title|length >21 %}...{% endif %}</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="jszp_gonggao_box" style=" border-right:2px dashed #d4dde4;">
        {% set pthkaoshi = data('ArticleCategory',{code: 'pthkaoshi'}) %}  {# 普通话考试 #}
        <h4><a href="{{ path('article_category', {categoryCode:pthkaoshi.code}) }}"
               target="_blank">{{ pthkaoshi.name|trans }}<a/></h4>
        <ul class="jszp_gonggao_li">
            {% set pthkaoshiList = data('LatestArticles',{count: 6, type: '', categoryId:12}) %}
            {% for pthkaoshiList in pthkaoshiList %}
                <li><p><a href="{{ path('article_detail', {id:pthkaoshiList.id}) }}" target="_blank"
                          title="{{ pthkaoshiList.title }}">{{ pthkaoshiList.title|slice(0,21) }}{% if pthkaoshiList.title|length >21 %}...{% endif %}</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="jszp_richeng_box">
        <h4>考试日程</h4>
        <p id="bishi" style="float:left; padding-right:20px; font-size:16px; border-bottom:2px solid #C0C0C0; ">国考笔试</p>
        <p id="mianshi" style="float:left; font-size:16px; border-bottom:2px solid #C0C0C0; width:120px; ">国考面试</p>
        <br/><br/>
        <div class="jszp_richeng_box_cont" id="bmsj">报名时间 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4月5日~8日</div>
        <div class="jszp_richeng_box_cont" id="zkzdy">准考证打印 &nbsp;&nbsp;&nbsp; 考前一周</div>
        <div class="jszp_richeng_box_cont" id="kssj">笔试时间 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2018.3.2</div>
        <div class="jszp_richeng_box_cont" id="cjcx">成绩查询 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 考后一个月</div>
    </div>

</div>
</div>


{# 教师招聘动态 #}
{% set jszhaopin = data('ArticleCategory',{code: 'jszhaopin'}) %}
<div class="inter_box_title inter_jszp_title">
    <h2 style="color:#2dbb55;"><a href="{{ path('article_category', {categoryCode:jszhaopin.code}) }}"
                                  target="_blank"> {{ jszhaopin.name|trans }} <a/></h2> {# 教师招聘动态 #}
</div>
<ul class="jszp_box_text clearfix">
    <li>
        {% set zpgz = data('ArticleCategory',{code: 'zpgz'}) %}  {# 教师招聘动态--广州 #}
        <h4><a href="{{ path('article_category', {categoryCode:zpgz.code}) }}" target="_blank">{{ zpgz.name|trans }}<a/>
        </h4>
        <div class="base_list_box_jszp">
            {% set gzList = data('LatestArticles',{count: 6, type: '', categoryId:13}) %}
            {% for gzList in gzList %}
                <a href="{{ path('article_detail', {id:gzList.id}) }}" target="_blank"
                   title="{{ gzList.title }}">{{ gzList.title|slice(0,21) }}{% if gzList.title|length >21 %}...{% endif %} </a>
            {% endfor %}
        </div>
    </li>
    <li>
        {% set zpsz = data('ArticleCategory',{code: 'zpsz'}) %}  {# 教师招聘动态--深圳 #}
        <h4><a href="{{ path('article_category', {categoryCode:zpsz.code}) }}" target="_blank">{{ zpsz.name|trans }}<a/>
        </h4>
        <div class="base_list_box_jszp">
            {% set szList = data('LatestArticles',{count: 6, type: '', categoryId:14}) %}
            {% for szList in szList %}
                <a href="{{ path('article_detail', {id:szList.id}) }}" target="_blank"
                   title="{{ szList.title }}">{{ szList.title|slice(0,21) }}{% if szList.title|length >21 %}...{% endif %} </a>
            {% endfor %}
        </div>
    </li>
    <li>
        {% set zpfs = data('ArticleCategory',{code: 'zpfs'}) %}  {# 教师招聘动态--广州 #}
        <h4><a href="{{ path('article_category', {categoryCode:zpfs.code}) }}" target="_blank">{{ zpfs.name|trans }}<a/>
        </h4>
        <div class="base_list_box_jszp">
            {% set fsList = data('LatestArticles',{count: 6, type: '', categoryId:15}) %}
            {% for fsList in fsList %}
                <a href="{{ path('article_detail', {id:fsList.id}) }}" target="_blank"
                   title="{{ fsList.title }}">{{ fsList.title|slice(0,21) }}{% if fsList.title|length >21 %}...{% endif %} </a>
            {% endfor %}
        </div>
    </li>
</ul>


{# 名师风采 #}
{# <div class="jszp_mingshi_box">
    <h2>名师风采</h2>
    <div>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
    </div>
</div> #}



{# 名师风采 #}
<div class="jszp_jiaocai_box">
    {% set mingshi = data('ArticleCategory',{code: 'mingshi'}) %}  {# 名师风采 #}
    <h2><a href="{{ path('article_category', {categoryCode:mingshi.code}) }}" target="_blank">{{ mingshi.name|trans }}
            <a/></h2>
    <div class="books_material_list">
        <div class="books_material  clearfix" style="display: block;">
            <ul>
				{% set mingshiList = data('LatestArticles',{count: 5, type: '', categoryId:16}) %}
				{% for mingshiList in mingshiList %}
					  <li><a href="{{ path('article_detail', {id:mingshiList.id}) }}" target="_blank"><img
									src="/bundles/topxiaweb/img/page/mingshi.png"></a> <a class="books_title_info"
																						  href="{{ path('article_detail', {id:mingshiList.id}) }}"
																						  target="_blank"><span>2018国家教师资格考试教材</span><br>
							{{ mingshiList.title|slice(0,7) }}{% if mingshiList.title|length >7 %}...{% endif %}</a></li>			   
				{% endfor %}			
            </ul>
        </div>
    </div>
</div>




{# 使用教材 #}
<div class="jszp_jiaocai_box">
    {% set jiaocai = data('ArticleCategory',{code: 'jiaocai'}) %}  {# 使用教材 #}
    <h2><a href="{{ path('article_category', {categoryCode:jiaocai.code}) }}" target="_blank">{{ jiaocai.name|trans }}
            <a/></h2>
    <div class="books_material_list">
        <div class="books_material  clearfix" style="display: block;">
            <ul>
				{% set jiaocaiList = data('LatestArticles',{count: 5, type: '', categoryId:17}) %}
				{% for jiaocaiList in jiaocaiList %}
					  <li><a href="{{ path('article_detail', {id:jiaocaiList.id}) }}" target="_blank"><img
									src="/bundles/topxiaweb/img/page/jiaocai.jpg"></a> <a class="books_title_info"
																						  href="{{ path('article_detail', {id:jiaocaiList.id}) }}"
																						  target="_blank"><span>2018国家教师资格考试教材</span><br>
							{{ jiaocaiList.title|slice(0,7) }}{% if jiaocaiList.title|length >7 %}...{% endif %}</a></li>			   
				{% endfor %}
			
            </ul>
        </div>
    </div>
</div>

{% do script(['app/js/page/page-content.js']) %}


