{% extends 'test/layout.html.twig' %}
{% block title %}{{'基础信息'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'profile' %}


{% do script(['libs/jquery-validation.js', 'libs/jquery.js','libs/es-ckeditor/ckeditor.js', 'libs/select2.js','libs/jquery-nouislider.js','app/js/testpaper-manage/create/index.js']) %}

{#
{% block stylesheets %}
<link href="{{ asset('assets/libs/jquery-plugin/select2/3.4.1/select2.css') }}" rel="stylesheet" />
{% endblock %}
#}

{% block main %}

<div class="panel panel-default panel-col test-creator">
  <div class="panel-heading clearfix">{{'创建试卷'|trans}}</div>
  
  
  <div class="panel-body">

    {#<form id="testpaper-form" class="form-horizontal" method="post" data-build-check-url="{{ path('test_build_check'}}" data-auto-submit="false" data-have-base-fields="true" data-have-build-fields="true">#}
    <form id="testpaper-form" class="form-horizontal" method="post" data-auto-submit="false" data-have-base-fields="true" data-have-build-fields="true">
      {{ web_macro.flash_messages() }}

      <div id="colorpicker">
        <div class="sliders" id="red"></div>
        <div class="sliders" id="green"></div>
        <div class="sliders" id="blue"></div>
        <div class="result"></div>
      </div>

	  {% include 'test/manage/create-base-info.html.twig'%}
	  
	  
		<div class="form-group">
          <label class="col-md-2 control-label" for="categoryId">{{ '分类'|trans }}</label>
          <div class="col-md-8 controls">
            <select id="categoryId" name="testCategoryId" class="form-control width-input width-input-large">
              {{ select_options(category_choices('test'), '分类'|trans) }}
            </select>
            <div class="help-block" style="display:none;"></div>
          </div>
    </div>
		
		<div class="form-group">
          <label class="col-md-2 control-label" for="TestYear">{{ '年份'|trans }}</label>
          <div class="col-md-8 controls">
            <select id="TestYear" name="TestYear" class="form-control width-input width-input-large">
        			  <option value="0"></option>
                <option value="2018">2018</option>
        			  <option value="2017">2017</option>
        			  <option value="2016">2016</option>
        			  <option value="2015">2015</option>
        			  <option value="2014">2014</option>
        			  <option value="2013">2013</option>
            </select>
            <div class="help-block" style="display:none;"></div>
          </div>
    </div>
		
		<div class="form-group">
          <label class="col-md-2 control-label" for="TestType">{{ '类型'|trans }}</label>
          <div class="col-md-8 controls">
            <select id="TestType" name="TestType" class="form-control width-input width-input-large">
        			  <option value="0"></option>
                {# <option value="1">模拟题</option> #}
        			  <option value="2">历年真题</option>
        			  <option value="3">章节练习</option>
        			  {# <option value="4">高频考点</option>
        			  <option value="4">课后练习</option> #}
            </select>
            <div class="help-block" style="display:none;"></div>
          </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label"><label for="name-field" class="control-label-required">{{'排序'|trans}}</label></div>
      <div class="col-md-2 controls">
        <input class="form-control" value="{% if testpaper.TestSort | default(null)%}{{testpaper.TestSort }}{% endif %}" name="TestSort" id="name-field" />
      </div>
    </div>

		
		{% include 'test/manage/create-build-info.html.twig'%}
      
      <div class="form-group mbm">
        <div class="col-md-8 col-md-offset-2 controls">
			<button id="testpaper-create-btn" data-loading-text="{{'正在提交'|trans}}" type="button" class="btn btn-primary" data-role="submit" data-check-url="{{ path('test_build_check')}}">{{'保存'|trans}}</button>
			<a href="{{ path('manage_testlist') }}" class="btn btn-link">{{'返回'|trans}}</a>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>

  </div>
</div>

{% endblock %}