{% extends 'layout.html.twig' %}

{% set mobile = is_show_mobile_page() %}
{% set bodyClass = 'course-list-page ' %}
{% set siteNav = 'course/explore' %}

{% do script(['libs/echo-js.js','app/js/course/explore/index.js']) %}

{% block keywords %}{% if categoryArray %}{{ categoryArray.name }}{% if categoryParent %}{{ ',' }}{{ categoryParent.name|default('') }}{% endif %}{% else %}{{ '全部' }}{% endif %}{% endblock %}
  {% block description %}{{ categoryArrayDescription|default('')|plain_text(100) }}{% endblock %}
    {% block title %}{{ categoryArray.name|default('全部'|trans) }} - {{ setting('site.name') }}{% if setting('site.slogan') %}{{ ' - ' }}{{ setting('site.slogan') }}{% endif %}{% if not setting('copyright.owned') %} - Powered By {% endif %}
    {% endblock %}

{% block top_content %}
  <div class="es-banner">
    <div class="container">
      <div class="title">
        <i class="es-icon es-icon-viewcomfy"></i>
        {{ '在线题库'|trans }}
      </div>

      {% set classrooms = data('Classrooms',{count:1}) %}
      {# <div class="more">
        {% if classrooms|default(null) %}
          <a class="btn btn-primary btn-lg" href="{{ path('classroom_explore') }}">
            {{ '查看%name%'|trans({'%name%': setting('classroom.name')|default('班级'|trans)}) }}
          </a>
        {% endif %}
        <a class="btn btn-primary btn-lg" href="{{ path('open_course_explore') }}">
          {{ '查看公开课'|trans }}
        </a>
      </div> #}
    </div>
  </div>

  {% if mobile %}
    {% include 'course-set/search-mobile.html.twig' %}
  {% endif %}
{% endblock %}

{% block content %}
  {% set type = filter.type|default('all') %}
  {% set price = filter.price|default('all') %}
  {% set orderBy = orderBy|default('latest') %}
  {% set currentLevelId = filter.currentLevelId|default('all') %}
  {% set path = app.request.get('_route') %}

  {{ render(controller('AppBundle:Category:treeNav',{tags:tags, path:path, category:category, filter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: orderBy, group:'test'})) }} 	{# 调用分类控制器，group:'course' 是获取哪个分类 #}

  
  <div class="es-filter" style="background:#fff;padding-top:-20px;">
		<ul class="nav nav-sort clearfix">
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestType: ''}) }}"
			  class="{% if (TestType == '') %}active{% endif %}">
			  {{ '全部'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestType: '1'}) }}"
			  class="{% if (TestType == '1') %}active{% endif %}">
			  {{ '模拟题'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestType: '2'}) }}"
			  class="{% if (TestType == '2') %}active{% endif %}">
			  {{ '历年真题'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestType: '3'}) }}"
			  class="{% if (TestType == '3') %}active{% endif %}">
			  {{ '章节练习'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestType: '4'}) }}"
			  class="{% if (TestType == '4') %}active{% endif %}">
			  {{ '高频考点'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestType: '5'}) }}"
			  class="{% if (TestType == '5') %}active{% endif %}">
			  {{ '课后练习'|trans }}
			</a>
		  </li>
		</ul>
	</div>
  
    <div class="es-filter" style="background:#fff;">
		<ul class="nav nav-sort clearfix">
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestYear: ''}) }}"
			  class="{% if (TestYear == '') %}active{% endif %}">
			  {{ '全部'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestYear: '2018'}) }}"
			  class="{% if (TestYear == '2018') %}active{% endif %}">
			  {{ '2018'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestYear: '2017'}) }}"
			  class="{% if (TestYear == '2017') %}active{% endif %}">
			  {{ '2017'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestYear: '2016'}) }}"
			  class="{% if (TestYear == '2016') %}active{% endif %}">
			  {{ '2016'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestYear: '2015'}) }}"
			  class="{% if (TestYear == '2015') %}active{% endif %}">
			  {{ '2015'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestYear: '2014'}) }}"
			  class="{% if (TestYear == '2014') %}active{% endif %}">
			  {{ '2014'|trans }}
			</a>
		  </li>
		  <li>
			<a
			  href="{{ path('testpaper_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},TestYear: '2013'}) }}"
			  class="{% if (TestYear == '2013') %}active{% endif %}">
			  {{ '2013'|trans }}
			</a>
		  </li>
		</ul>
	</div>
  
  {# <div class="es-filter">
    <ul class="nav nav-sort clearfix">
      <li>
        <a
          href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'latest'}) }}"
          class="{% if (orderBy == 'latest') %}active{% endif %}">
          {{ '最新'|trans }}
        </a>
      </li>
      <li>
        <a
          href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'studentNum'}) }}"
          class="{% if (orderBy == 'studentNum') %}active{% endif %}">
          {{ '最热'|trans }}
        </a>
      </li>
      <li>
        <a
          href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'recommendedSeq'}) }}"
          class="{% if (orderBy == 'recommendedSeq') %}active{% endif %}">
          {{ '推荐'|trans }}
        </a>
      </li>
    </ul>
    <div class="filter hidden-xs">
      {% if is_plugin_installed('vip') %}
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
              class="es-icon es-icon-crown text-warning"></i>
            {% if (currentLevelId == 'all') %}{{ '会员课程'|trans }}{% endif %}
            {% for level in levels %}{% if (level.id == currentLevelId) %}{{ level.name|sub_text(4) }}{% endif %}{% endfor %}
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="{% if (currentLevelId == 'all') %}active {% endif %}"><a
                href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags},  filter: {type: type,price: price,currentLevelId: 'all'},orderBy: orderBy}) }}">{{ '全部'|trans }}</a>
            </li>
            {% for level in levels %}
              <li role="presentation" class="{% if (level.id == currentLevelId) %}active {% endif %}"><a
                  href="{{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags},  filter: {type: type,price: price,currentLevelId: level.id},orderBy: orderBy}) }}">{{ level.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <label class="checkbox-inline">
        <input type="checkbox" {% if type == 'live' %}checked="true" {% endif %} id="live" value="
        {% if type == 'all' %}
          {{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: 'live',price: price,currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% else %}
          {{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: 'all',price: price,currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% endif %}"> {{ '直播课程'|trans }}
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {% if price == 'free' %}checked="true" {% endif %} id="free" value="
        {% if price == 'all' %}
          {{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: 'free',currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% else %}
          {{ path('course_set_explore', {category:category['category'], subCategory:category['subCategory'], selectedthirdLevelCategory:category['thirdLevelCategory'], tag:{tags:tags}, filter: {type: type,price: 'all',currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% endif %}
        "> {{ '免费课程'|trans }}
      </label>
    </div>
  </div> #}

  <div class="course-list">
    <div class="">
      {% if testpapers %}
	  
		<div class="course-detail-content" style="background:#fff;">
		<ul class="task-list task-list-md task-list-hover">
		
			 {% for testpaper in testpapers %}
		
			<li class="task-item task-content mouse-control">
				<i class="es-icon es-icon-undone-check color-gray left-menu"></i>
					<a class="title" href="{{ path('test_do', {testId:testpaper.id}) }}">
					  <span style="font-size:16px; "> {{ testpaper.name }} </span>	 <br />
					  <span style="font-size:12px; color:#A9A9A9;">考试时长：{{testpaper.limitedTime}}  总分：{{testpaper.score}} </span>
					</a>
				<span class="right-menu color-gray ">
				<a class="btn btn-primary" href="{{ path('test_do', {testId: testpaper.id}) }}">
                      开始考试
                  </a>
				</span>
				<span class="right-menu mouse-enter"> </span>
			</li>
			
			{% endfor %}
			
		</ul>
	</div>
	  
	  
        {# {% for testpaper in testpapers %}
          <div class="es-section" style="background:#fff; border:1px solid #e0e3e9; ">
            {% include 'testpaper/widgets/testpaper-list.html.twig' with {testpaper: testpaper} %}
          </div>
        {% endfor %} #}
		
		
		
		
      {% else %}
        <div class="empty">{{ '该分类还没有题库呢'|trans }}</div>
      {% endif %}
    </div>
  </div>
  {% if not mobile %}
    <nav class="text-center">{{ web_macro.paginator(paginator) }}</nav>
  {% endif %}
{% endblock %}

{% block bottom %}
  {% include 'mobile/footer-tool-bar.html.twig' with { mobile_tool_bar: 'course' } %}
{% endblock %}
