{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}{{'题库权限添加'|trans}}{% endblock %}
{% block body %}

<form id="test-member-form" class="form-horizontal" method="post" action="{{ url('admin_test_member', {id:user.id}) }}" data-currentuser="{{ app.user.id }}" data-edituser="{{ user.id }}">
  <div class="checkboxs" id="old-checkboxs">
    {% set admin_roles = get_admin_roles() %}
   
	{# 三级分类用 #}
    {# {% for cat in testCategory if(cat.parentId == 0) %}
	 <h4>{{cat.name}} </h4> 
	 {% for cats in testCategory if(cats.parentId == cat.id) %}
		<br /> <span>{{cats.name}} : </span>
		<div style="margin-left:auto;">
		{% for catss in testCategory if(catss.parentId == cats.id) %}
			&nbsp;&nbsp;&nbsp;<input type="checkbox" name="testCategoryId[]" value="{{catss.id}}" {% if catss.id in testMemberArr %} checked {% endif %} /><span>{{catss.name}}</span> 
		{% endfor %}
		</div>
	 {% endfor %}
    {% endfor %} #}
	
	
	{# 二级分类用 #}
	{% for cat in testCategory if(cat.parentId == 0) %}
	 <h4>{{cat.name}} </h4> 
	 {% for cats in testCategory if(cats.parentId == cat.id) %}
		 <input type="checkbox" name="testCategoryId[]" value="{{cats.id}}" {% if cats.id in testMemberArr %} checked {% endif %} /> <span>{{cats.name}}  </span> <br /><br />
		<div style="margin-left:auto;">
		{% for catss in testCategory if(catss.parentId == cats.id) %}
			&nbsp;&nbsp;&nbsp;<input type="checkbox" name="testCategoryId[]" value="{{catss.id}}" {% if catss.id in testMemberArr %} checked {% endif %} /><span>{{catss.name}}</span> 
		{% endfor %}
		</div>
	 {% endfor %}
    {% endfor %}
   
  </div>
  
   <input type="hidden" name="userId" value="{{ user.id }}">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}

{% block footer %}
  <button id="change-user-roles-btn" data-submiting-text="{{'正在提交'|trans}}" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#test-member-form"  data-user="{{default.user_name|default('学员'|trans)}}" >{{'保存'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'取消'|trans}}</button>
  

  <script>app.load('user/test-member-modal');</script>
  

{% endblock %}